@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom properties */
:root {
  --nav-mobile-height: 64px;
  --background: #ffffff;
  --foreground: #171717;
}

/* Import the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 800px) {
  body {
    padding-top: 84px; /* ruimte voor de fixed navbar */
  }
}